* {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
	color: #fff;
}
body {
	background-color: #f9f9fb;
}
header {
	width: 100%;
	background-color: #212429; 
}
.header__container {
	display: flex;
	justify-content: space-between;
	max-width: 1530px;
	margin: 0 auto;
	align-items: center;

}
.header__container-burgericon i {
	color: #fff;
	border-right: 1px solid #3c3c3c;
	border-left: 1px solid #3c3c3c;
	padding: 20px;
}
.header__container-nav {
	display: flex;
}
.header__container-nav a {
	border-right: 1px solid #3c3c3c;
	padding: 20px;
}
.header__container-nav a:nth-child(1) {
	border-left: 1px solid #3c3c3c;
}
.header__container-logo {
	margin-left: 14%;
}
.wrapper {
	width: 1530px;
	margin: 0 auto;
}
.topphoto__background {
	width: 100%;
	background:linear-gradient(to bottom, #212429 50%,#f9f9fb 50%);
}
.topphoto img {
	display: block;
}
.topphoto {
	position: relative;
	color: #fff;
}
.topphoto__textblock {
	position: absolute;
	top:225px;
	left: 6.2%;
	font-family: 'Hind', sans-serif;
}
.topphoto__textblock p {
	font-size: 18px;
	letter-spacing: 4px;
	margin-bottom: 15px;
	font-weight: 600;
}
.topphoto__textblock h1 {
	font-weight: 700;
	line-height: 50px;
	font-size: 40px;
	letter-spacing: 5.5px;
}
.signup_form {
	padding: 30px;
	display: flex;
	justify-content: space-between;
	background-color: #f7f7f7;
}
.signup_form p {
	font-family: 'Montserrat', sans-serif;
	line-height: 28px;
	font-size: 20px;
	letter-spacing: 6px;
}
.signup_form input {
	height: 50px;
	font-family: 'Hind', sans-serif;
	border:none;
}
input[type="text"] {
	width: 449px;
	padding-left: 34px;
	font-weight: 400;
	font-size: 15px;
	letter-spacing: 2px;
	box-sizing: border-box;
}
input[type="submit"] {
	width: 280px;
	font-weight: 500;
	background-color: #000;
	color: #fff;
	letter-spacing: 4px;
	font-size: 14px;
}







@media screen and (max-width:1080px) {
	main {
		overflow: hidden;
	}
	.header__container-nav {
		display: none;
	}
	.header__container-logo {
		margin-left: 0;
		margin-right: 25vw;
	}
	.header__container-logo img {
		width: 40vw;
	}
	.header__container-burgericon {
		font-size: 8vw;
	}
	.header__container-burgericon i {
		padding: 5px 15px;
		display: block;
	}
	.topphoto img {
		width: 1080px;
	}
}