* {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
	color: #fff;
}
html {
	background-color: #fff;
}
.wrapper_head {
	max-width: 1532px;
	margin:0 auto;
}
.main_header {
	background-color: #212429;
}
.logo {
	display: flex;
	align-items: center;
	margin-top: 4px;
}
.socialblock {
	display: flex;
	align-items: center;
	border-left: 1px solid #3c3c3c;
}
.socialblock a {
	padding: 18px;
	border-right: 1px solid #3c3c3c;
	font-size: 16px;
}
.socialblock a:hover {
	opacity: 0.7;
	transition: 0.5s;
}
.burgermenu {
	display: flex;
	align-items: center;
	color: white;
	padding: 18px;
	border-right: 1px solid #3c3c3c;
	border-left: 1px solid #3c3c3c;
	margin-right: 18%;
}
.burgermenu img {
	height: 15px;
}
.burgermenu:hover {
	opacity: 0.7;
	transition: 0.5s;
}
header li {
	list-style-type: none;
}
header i {
	color: white;
}
header {
	max-width: 100%;
	display: flex;
	justify-content: space-between;
}
.main_photo {
	background: linear-gradient(to bottom, #3c3c3c 50%, white 50%);
}
.phototext {
	position: relative;
	max-height: 580px;
}
.phototext div {
	position: absolute;
	color: white;
	top: 35%;
	left: 5.8%;
}
.latestnews {
	font-family: 'Hind', sans-serif;
	font-weight: 600;
	font-size: 15px;
	margin-bottom: 17px;
	letter-spacing: 5px;
}
.bodyb {
	font-family: 'Hind', sans-serif;
	font-weight: 700;
	line-height: 53px;
	font-size: 40px;
	text-transform: uppercase;
	letter-spacing: 5px;
}
.wrapper {
	overflow: hidden;
	margin:0 auto;
	max-width: 1530px;
}