* {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
	color: #fff;
}
header {
	width: 100%;
	background-color: #212429; 
}
.header__container {
	display: flex;
	justify-content: space-between;
	width: 93.6%;
	margin: 0 auto;
	align-items: center;

}
.header__container-burgericon i {
	color: #fff;
	border-right: 1px solid #3c3c3c;
	border-left: 1px solid #3c3c3c;
	padding: 20px;

}
.header__container-nav a {
	border-right: 1px solid #3c3c3c;
	padding: 20px;
}
.header__container-nav a:nth-child(1) {
	border-left: 1px solid #3c3c3c;
}
.header__container-logo {
	margin-left: 14%;
}
.wrapper {
	width: 93.6%;
	margin: 0 auto;
}
.topphoto__background {
	width: 100%;
	background:linear-gradient(to bottom, #212429 50%,white 50%);
	;
}
.topphoto img {
	width: 100%;
}